.train-type-button {
  width: 50%;
}

.form-container {
  width: 90%;
  margin: 5%;
}

.submit-stops {
  margin-top: 10%;
  width: 100%;
}

.css-1aya2g8 {
  margin-top: 5%;
}

.stop-card {
  width: 80%;
  margin: 8%;
  border: 1px solid black;
  transition-property: display;

}

.stop-card-time {
  margin-left: 10%;
}

.swap-destination-icon {
  padding-top: 5px;
}

.destination-button {
  width: 35%;
  margin: 5%;
}